@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

/* ###################################################
#################### VARIABLES ######################
################################################### */

:root {
    --border-radius: 10px;

    --color-gradient-background: linear-gradient(0deg, #453266, #180f2a);
    --color-main-form: rgba(255, 255, 255, 0.1);
    --color-second-form: rgba(19, 6, 27, 0.45);
    --color-style-1-block: rgb(49, 43, 53);
    --color-text-block: #cecece;
    --color-category-border-color: rgb(117, 117, 117);
    --color-text-header-spec: rgb(14, 119, 58);

    --font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --font-size-medium: 20px;
    --font-size-small: 15px;
}

/* ###################################################
###################### BASE #########################
################################################### */

html,
body {
    margin: 0;
    font-family: var(--font-family-main);
}

body {
    min-height: 100vh;
    background: var(--color-gradient-background);
    color: white;
    text-align: center;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

.padding-bot-1 {
    padding-bottom: 10px;
}

/* ###################################################
##################### LAYOUT ########################
################################################### */

.form-transparent {
    position: relative;
    overflow: hidden;

    background: var(--color-main-form);
    border-radius: var(--border-radius);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-adaptive-size {
    min-width: 500px;
    max-width: 1000px;
    margin: 0 10px;
}

@media (min-width: 1020px) {
    .form-adaptive-size {
        margin: 0 auto;
    }
}

.form-darker {
    margin: 10px 20px;
    padding: 10px 0;

    background: var(--color-second-form);
    border-radius: var(--border-radius);
}

.form-grid-250{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.form-grid-350{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.form-category {
    position: relative;
    padding-top: 40px;
    box-sizing: border-box;
}

ul.horizontal-li {
    display: inline-flex;
}



/* ###################################################
##################### MODAL ########################
################################################### */

.modal {
    border: none;
    border-radius: 12px;
    padding: 0;
    background: transparent;
}

.modal::backdrop {
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(4px);
}

.modal-content {
    background: #2b2438;
    color: white;
    padding: 20px;
    border-radius: 12px;
    min-width: 260px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

img.adaptive-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    margin: auto;
}

/* ###################################################
################### PROFILE HEADER ##################
################################################### */

.background-photo {
    position: relative;
    overflow: hidden;
}

.background-photo::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(0deg, #000, transparent, transparent);
    opacity: 0.7;
}

.background-img {
    width: 100%;
    max-height: 300px;

    display: block;
    object-fit: cover;
    object-position: center;

    filter: brightness(0.75);
    transition: filter 0.4s;
}

/* ###################################################
###################### AVATAR #######################
################################################### */

.avatar-margin {
    position: relative;
    height: 100px;
}

.avatar-container {
    position: absolute;
    left: 50%;

    width: 200px;
    height: 200px;
    margin: -100px;

    display: flex;
    overflow: hidden;

    border-radius: 50%;
}

.avatar-img {
    max-width: 100%;
}

/* ###################################################
###################### BLOCKS #######################
################################################### */

.style-flex-block {
    display: flex;
    justify-content: flex-start;
    min-width: 100px;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.style-flex-block ul {
    flex: 1;
    min-width: 300px;  /* при нехватке места уйдёт вниз */
}

.style-flex-block ul ul {
    flex: 1;
    min-width: 250px;  /* при нехватке места уйдёт вниз */
}

.style-1-block {
    display: flex;
    justify-content: flex-start;

    height: 55px;
    min-width: 100px;

    margin: 10px 10px 0;
    overflow: hidden;

    background: var(--color-style-1-block);
    border-radius: var(--border-radius);
}

.style-1-block img {
    height: 80%;
    margin: auto 10px;

    object-fit: contain;
    border-radius: var(--border-radius);
}

.style-gaming-block {
    height: 90px;
}

/* ###################################################
###################### Button #########################
################################################### */

.setup-btn {
    padding: 6px 10px;
    /* background: #3a3154;
    color: white; */
    border: none;
    border-radius: 6px;
    cursor: pointer;

    font-family: var(--font-family-main);
}

/* ###################################################
###################### TEXT #########################
################################################### */

h1.nick {
    margin: 20px;

    font-size: 2.5em;
}

.font-family-1 {
    font-family: var(--font-family-main);
}

.text-weight-500 {
    font-weight: 500;
}

.font-size-medium {
    font-size: var(--font-size-medium);
}

.font-size-small {
    font-size: var(--font-size-small);
}

.category-name {
    position: absolute;
    top: 0;
    width: 96%;

    margin: 10px 20px;

    text-align: left;
    text-transform: uppercase;
}

.category-border {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: var(--color-category-border-color);
}

.text-block {
    margin: 10px;

    font-weight: 500;
    color: var(--color-text-block);
}

.name-block {
    flex: 1;
    align-self: center;

    padding-right: 10px;

    color: white;
    font-weight: 500;
}

/* span.name-block {
    font-size: 0.9em;
} */

.style-gaming-block p {
    margin: 0px;
}

p.spec {
    color: var(--color-text-header-spec);
}

/* ###################################################
###################### PARTICLES ####################
################################################### */

#particles-js {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 0;
}